.container-inner {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: var(--padding-500);
    padding: var(--padding-700);
    place-items: center;
    text-align: center;

    h1:first-child {
        grid-column: 1/3;
    }

    .box {
        --padding: 2em;
        --color: #fff;
        place-self: center end;
        display: grid;
        padding: var(--padding-300);
        padding-right: var(--padding);
        position: relative;
        width: clamp(8rem, 20svw, 50%);
        transition: box-shadow var(--time-1);

        &::after {
            content: 'min';
            position: absolute;
            place-content: center;
            height: 100%;
            top: 0;
            right: 4px;
            color: var(--color);
            opacity: 1;
            transition: opacity, scale var(--time);
        }

        &:has(#inp:focus, #inp:focus-visible) {
            box-shadow: 0px 0px 10px 1px var(--color-primary);

            &::after {
                opacity: .5;
                scale: .8;
            }
        }

        #inp {
            width: 100%;
            border: none;
            background-color: transparent;
            font-size: var(--font-size-800);
            text-align: end;
            z-index: 100;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }

    h2 {
        font-size: var(--font-size-h2);
    }

}

@media (max-width:450px) {
    .container-inner {
        grid-template-columns: 1fr;
        grid-template-rows: min-content;
        padding-inline: 0;

        .box {
            grid-row: 2;
            place-self: center;
        }

        h2 {
            grid-row: 3;
        }
    }
}