@import './variable.css';

@keyframes showSelf {
    from {
        opacity: 0;
        scale: 0;
    }
}

@keyframes hideSelf {
    to {
        scale: 0;
        opacity: 0;
    }
}

.form-edit {
    --space: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    display: grid;
    z-index: 1;
    gap: calc(var(--padding-500) + var(--space));
    place-items: center;
    background-color: var(--color-background);
    width: clamp(280px, 80svw, 45%);
    height: 28rem;
    padding: var(--padding-600);
    border-radius: 24px;
    animation: showSelf var(--time-1);

    label {
        position: relative;
        transition: all var(--time-1);
        padding-inline: var(--padding-400);

        input {
            width: 100%;
        }

        p {
            position: absolute;
            left: 50%;
            top: calc(-1*var(--space));
            translate: -50%;
        }
    }

    .container-btn {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--padding-700);

        button {
            font-size: var(--font-size-adaptive);
        }
    }
}

@media (max-width: 650px) {
    .form-edit {
        width: 100%;
    }
}