@import './variable.css';

@keyframes showForm {
    from {
        height: 0;
        opacity: 0;
    }
}

@keyframes showLabel {
    to {
        opacity: 1;
        width: clamp(2em, 100%, 400px);
    }
}

.form-create {
    --gap: .5em;
    display: grid;
    padding: var(--padding-700);
    gap: var(--gap);
    place-items: center;
    animation: showForm var(--time-1);
    transition: all var(--time-1);

    * {
        font-size: inherit;
    }

    label {
        --time: .5s;
        display: grid;
        place-items: center;
        width: 0;
        transition: all var(--time);
        animation: showLabel var(--time-1) calc(var(--item)*.2s) forwards;

        input {
            padding: var(--padding-500);
            width: 100%;
        }
    }

    button {
        width: auto;
    }

}