@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import './variable.css';

:root {
  color-scheme: dark;
  max-width: 100svw;
  max-height: 100svh;
}

* {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: clamp(var(--font-size-300), 8svw, var(--font-size-500));
}

h1 {
  font-size: clamp(var(--font-size-300), 8svw, var(--font-size-600));
}