@import './variable.css';

table {
    --border-radius: .5rem;
    width: 100%;
    font-size: inherit;
    background-color: var(--color-background);
    font-size: var(--font-size-400);
    border-radius: var(--border-radius);
    padding: var(--padding-400);
    text-align: center;

    * {
        font-size: inherit;
    }
}

tr {
    place-items: center;

    &:nth-child(even) {
        background-color: rgb(from var(--color-background) 52 52 52);
    }
}


td {
    place-items: center;
    margin: .25rem;

    button {
        font-size: var(--font-size-400);
    }

    &:last-child {
        display: grid;
        gap: .25rem;
    }
}