@import './variable.css';

.btn-export {
    place-self: center start;
}

table {
    --border-radius: .5rem;
    width: 100%;
    background-color: var(--color-background);
    border-radius: var(--border-radius);
    text-align: center;
    width: min-content;
}

thead {
    width: min-content;

    h3 {
        width: auto;
        border-right: 1px solid transparent;
        font-size: var(--font-size-adaptive);
        border-bottom: 5px solid var(--color-secondary);
    }
}

tr {
    place-items: center;
    width: min-content;

    &:nth-child(even) {
        background-color: rgb(from var(--color-background) 52 52 52);
    }
}


td {
    width: min-content;
    place-items: center;
    margin: .25rem;
    border-right: 1px solid transparent;
    place-content: center;

    p {
        font-size: .75em !important;
    }

    &:nth-child(4) {
        p {
            width: clamp(50px, 25svw, 150px);
        }
    }

    &:last-child {
        display: grid;
        width: clamp(25px, 20svw, 180px);
        grid-template-columns: repeat(auto-fit, 50px);
        gap: .5rem;
        border: none;

        button {
            display: grid;
            place-content: center;
            width: 75%;
            padding-inline: 0;

            img {
                width: 1em;
                fill: white;
            }
        }
    }
}