:root {
    /* Font family */
    --font-family: "Open Sans", sans-serif;
    --font-weight: 400;
    --font-style: italic;

    /* Ratio for calculation  */
    --golden-ratio: 1.618;

    /* Font sizes*/

    --font-size-h1: 2.986rem;
    --font-size-h2: 2.488rem;
    --font-size-h3: 2.074rem;
    --font-size-800: 1.728rem;
    --font-size-700: 1.44rem;
    --font-size-600: 1.2rem;
    --font-size-500: 1rem;
    --font-size-400: 0.833rem;
    --font-size-300: 0.694rem;


    /* Colors */
    --color-primary: #143af7;
    --color-secondary: #226666;
    --color-info: #d1f426;
    --color-background: #000000;

    /* Padding sizes */
    --padding-700: calc(var(--padding-500) * var(--golden-ratio));
    --padding-600: calc(var(--padding-500) * var(--golden-ratio));
    --padding-500: .75rem;
    --padding-400: calc(var(--padding-500) / var(--golden-ratio));
    --padding-300: calc(var(--padding-400) / var(--golden-ratio));

    /* Time for transition */
    --time-3: 2s;
    --time-2: 1.25s;
    --time-1: .5s;
}